/* Exhibition cards */
.exhibition-card {
  width: 100%;
  border-top-left-radius: 90px;
  border-bottom-right-radius: 90px;
}

.exhibition-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 90px;
}

.exhibition-card h3 {
  padding: 20px;
}

.exhibition-card p {
  padding: 0px 20px 30px 20px;
}

.exhibition-card-1 {
  background-color: #e9f3f9;
}

.exhibition-card-1 h3 {
  color: #1f7b8f;
}

.exhibition-card-2 {
  background-color: #fef0ed;
}

.exhibition-card-2 h3 {
  color: #e9652e;
}

.exhibition-card-3 {
  background-color: #ffe8f2;
}

.exhibition-card-3 h3 {
  color: #cf3880;
}

.exhibition-card-4 {
  background-color: #fff0e0;
}

.exhibition-card-4 h3 {
  color: #cc7a22;
}

.exhibition-card-5 {
  background-color: #e9e6fd;
}

.exhibition-card-5 h3 {
  color: #5147b5;
}

/* White cards */
.white-card {
  width: 100%;
  height: fit-content;
  background-color: #fff;
  box-shadow: 5px 5px 20px #e4e4e4;
}

.white-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.white-card h3 {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.white-card p {
  padding-left: 20px;
  padding-right: 20px;
}
