a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Mulish", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: var(--white-text-color);
}

/* Active state */
.active::after {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 5px;
  background-image: var(--orange-gradient);
}

/* Buttons */
.cta {
  padding: 12px 25px;
  background-image: var(--orange-gradient);
  border-radius: 40px;
  color: #000;
  transition: all ease;
  transition-duration: 0.3s;
  transition-delay: 0s;
}

.cta:hover {
  box-shadow: 0px 15px 20px rgba(199, 174, 0, 0.4);
  transition: ease-in-out 0.6s;
}

@media (min-width: 1024px) {
  .active::after,
  .main-menu a::before {
    position: absolute;
    top: 44px;
  }

  /* Hover animation on main menu links */
  .main-menu a::before {
    content: "";
    display: block;
    left: 0;
    right: 0;
    height: 5px;
    border-radius: 5px;
    background-image: var(--orange-gradient);
    transform: scale(0, 1);
    transition: ease-in-out;
    transition-duration: 0.25s;
  }

  .main-menu a:hover::before {
    transform: scale(1, 1);
  }
}
