.contact-form {
  margin-left: 10%;
  margin-right: 10%;
}

.contact-form h2 {
  text-align: left;
  padding-bottom: 15px;
}

.contact-form > * {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

textarea {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  min-height: 100px;
  min-width: 100%;
}

.contact-form > section > input,
select {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin: 10px 0px 10px 0px;
  padding: 10px;
}

#submit {
  border: none;
  border-radius: 40px;
  color: #fff;
  text-transform: uppercase;
  width: 110px;
  margin-top: 30px;
}

#submit:hover {
  cursor: pointer;
}
