.exhibition-welcome {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/stars.jpg);
}

.exhibitions {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

@media (min-width: 1024px) {
  /* Exhibitions */
  .exhibitions {
    display: grid;
    grid-template-areas:
      "h2 h2"
      "card1 card1"
      "card2 card3"
      "card4 card5"
      "cta cta";
  }

  .exhibition-card-1 {
    grid-area: card1;
  }

  .exhibition-card-2 {
    grid-area: card2;
  }

  .exhibition-card-3 {
    grid-area: card3;
  }

  .exhibition-card-4 {
    grid-area: card4;
  }

  .exhibition-card-5 {
    grid-area: card5;
  }

  .exhibitions h2 {
    grid-area: h2;
  }

  .exhibitions .cta {
    margin: 0 auto;
    grid-area: cta;
  }

  .exhibition-card-1 {
    min-width: 830px;
    height: 27rem;
    padding-bottom: 0;
    column-gap: 25px;
    display: grid;
    align-items: center;
    grid-template-areas: "img text";
  }

  .exhibition-card-1 img {
    grid-area: img;
    height: 27rem;
    width: 400px;
    object-fit: cover;
  }
}
