/* Header */
.header-hero {
  height: 450px;
}

.header-hero h2 {
  color: #fff;
  text-transform: capitalize;
  padding: unset;
}

.header-hero p {
  color: #fff;
  max-width: 300px;
  text-align: center;
}

/* Special Events */
.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
