/* Header */
.home-welcome {
  background: url(../images/home-page.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
  margin-bottom: 40px;
  padding-left: 10%;
}

.home-welcome h1 {
  text-align: left;
  max-width: 300px;
  line-height: 30px;
  padding-top: 140px;
  padding-bottom: 20px;
}

.styled-p {
  font-family: "Mulish";
  font-weight: bold;
  font-size: 18px;
}

.home-welcome p {
  color: #fff;
  max-width: 300px;
  padding-bottom: 30px;
}

/* Special Events */
.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-left: 10%;
  margin-right: 10%;
}
