@media (min-width: 768px) {
  .logo img {
    max-width: 120px;
  }

  .explore,
  .practical-info,
  .get-involved,
  .events,
  .exhibitions,
  .contact-form {
    margin-left: 20%;
    margin-right: 20%;
  }

  .welcome p {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (min-width: 1024px) {
  /* Styles */
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2.2em;
    padding: 30px;
  }

  h3 {
    font-size: 1.9em;
    line-height: 1.2em;
  }

  p {
    font-size: 1em;
  }

  .explore,
  .practical-info,
  .get-involved,
  .events,
  .exhibitions,
  .contact-form {
    margin-left: 7%;
    margin-right: 7%;
  }

  /* Header */
  .toggler-lable {
    display: none;
  }

  .main-menu {
    all: unset;
  }

  .main-menu > nav > ul {
    display: flex;
    align-items: center;
  }

  .main-menu a {
    opacity: 1;
    position: relative;
  }

  .main-menu a::before {
    content: "";
    display: block;
    height: 5px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, #ffcf1b, #ff881b);
    position: absolute;
    top: 43px;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 0.25s;
  }

  .main-menu a:hover::before {
    transform: scale(1, 1);
  }

  /* Search form */
  .search-text {
    width: 230px;
  }
}
