@media (min-width: 768px) {
  .logo img {
    max-width: 120px;
  }

  .explore,
  .practical-info,
  .get-involved,
  .events,
  .exhibitions,
  .contact-form {
    margin-left: 20%;
    margin-right: 20%;
  }

  .welcome p {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  /* Styles */
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2.2em;
    padding: 30px;
  }

  h3 {
    font-size: 1.9em;
    line-height: 1.2em;
  }

  p {
    font-size: 1em;
  }

  .explore,
  .practical-info,
  .get-involved,
  .events,
  .exhibitions,
  .contact-form {
    margin-left: 7%;
    margin-right: 7%;
  }

  /* Header */
  .toggler-lable {
    display: none;
  }

  .main-menu {
    all: unset;
  }

  .main-menu > nav > ul {
    display: flex;
    align-items: center;
  }

  /* Search form */
  .search-text {
    width: 230px;
  }
}
