@import "import/links.css";
@import "import/cards.css";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 13px;
  line-height: 22px;
  background: #f7f7f7;
}

h1,
h2,
h3 {
  font-family: "Mulish";
}

h1 {
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  padding-top: 130px;
  color: #fff;
}

h2 {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
}

h3 {
  font-weight: 700;
  font-size: 19px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #021428;
  z-index: 1000;
}

.logo img {
  max-width: 40px;
}

/* Search form */
.search-box {
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding: 10px;
  background-color: #54616e;
}

.search-button img {
  max-width: 18px;
}

.search-button {
  display: flex;
}

.search-text {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 13px;
  width: 170px;
}

/* Menu */
.menu-wrap .toggler {
  cursor: pointer;
}

.toggler:checked ~ .main-menu {
  display: block;
}

.menu-wrap .toggler:checked ~ .main-menu > div {
  transform: scale(1);
  transition-duration: 0.75s;
}

.menu-wrap .toggler:checked ~ .main-menu > div > nav {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .main-menu {
  position: fixed;
  margin-top: 15px;
  left: 0;
  width: 100%;
}

.menu-wrap .main-menu > div {
  background: #021428;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .main-menu > div > nav {
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .main-menu > div > nav > ul > li {
  list-style: none;
  font-size: 14px;
  padding: 15px;
}

/* Header image */
.header-hero {
  background-image: url(../images/stars.jpg);
  background-position: center;
  background-size: cover;
  min-height: 200px;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: #021428;
  color: #fff;
  font-size: 12px;
  padding: 40px;
}
