.visit-welcome {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/night-in-museum.jpg);
}

.explore,
.practical-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.practical-info {
  margin-top: 30px;
}

.explore img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 90px;
  border-bottom-right-radius: 90px;
}

.explore h3 {
  margin-left: 10%;
}

.explore p,
.explore .cta {
  margin: 0px 10% 20px 10%;
}

@media (min-width: 768px) {
  /* Explore */
  .explore img {
    height: 400px;
  }
  .explore h3,
  .explore p,
  .explore .cta {
    margin: unset;
  }

  .explore p {
    padding-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  /* Explore */
  .content-container,
  .content-container-2 {
    display: grid;
    align-items: center;
    column-gap: 80px;
  }
  .content-container {
    grid-template-areas: "img text";
  }

  .content-container-2 {
    grid-template-areas: "text img";
  }

  .left-side-img {
    grid-area: img;
  }

  .explore img {
    height: 500px;
    width: 450px;
  }

  .explore p {
    max-width: 450px;
  }

  /* Plan your visit */
  .practical-info {
    display: grid;
    grid-template-areas:
      "h2 h2"
      "card card"
      "card card"
      "card card"
      "cta cta";
  }

  .practical-info h2 {
    grid-area: h2;
  }
}

@media (min-width: 1440px) {
  /* Plan your visit */
  .practical-info {
    display: grid;
    grid-template-areas:
      "h2 h2 h2"
      "card card card"
      "card card card";
  }

  .practical-info h2 {
    grid-area: h2;
  }
}
