.visit-welcome {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/at-museum.jpg);
  background-size: cover;
  background-position: top;
  height: 350px;
  margin-bottom: 40px;
}

.visit-welcome p {
  color: #fff;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  padding: 0px 25px 0px 25px;
}

.explore,
.practical-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.explore {
  margin-left: 10%;
  margin-right: 10%;
}

.explore img {
  width: 100%;
}

.googlemap {
  width: 100%;
  height: 200px;
}
