.header-hero h1 {
  padding-bottom: 30px;
}

h2,
h3,
p {
  padding-bottom: 20px;
}

.visit-intro,
.practical-info,
.explore {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.visit-intro h2 {
  text-transform: unset;
  text-align: left;
}

.explore,
.practical-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}
